@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfaf6;
  --foreground: #1c1917;
  --flora-forest: #1a3c34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #fafaf9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
